---
layout: archive
title: "Tutorials and Invited Talks"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% include base_path %}

{% if site.talk_category %}
  {% assign talk_category_order = "tutorials,invited" | split: "," %}
  {% for category_key in talk_category_order %}
    {% assign category = site.talk_category[category_key] %}
    {% if category == nil %}
      {% continue %}
    {% endif %}
    {% assign category_posts = "" | split: "" %}
    {% for post in site.talks reversed %}
      {% if post.category == category_key %}
        {% assign category_posts = category_posts | push: post %}
      {% endif %}
    {% endfor %}

    <h2>{{ category.title }}</h2><hr />
    {% if category_posts.size > 0 %}
      {% for post in category_posts %}
        {% include archive-single-talk.html %}
      {% endfor %}
    {% else %}
      <p><em>Coming soon.</em></p>
    {% endif %}
  {% endfor %}
{% else %}
  {% for post in site.talks reversed %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% endif %}
